<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
<meta charset="UTF-8">
<title>List of Owners</title>
</head>
<body>
	<h2 th:text="#{owners.list}">Owners</h2>
	<table id="owners" class="table table-striped">
		<thead>
	    <tr>
	        <th style="width: 30px;">ID</th>
	        <th style="width: 150px;" th:text="#{list.1stname}">Fist Name</th>
	        <th style="width: 150px;" th:text="#{list.lstname}">Last Name</th>
	    </tr>
	    </thead>
	    <tbody>
	    <tr th:each="owner : ${owners}">
	        <td th:text="${owner?.id}">X</td>
	        <td th:text="${owner?.firstName}">  </td>
	        <td th:text="${owner?.lastName}">  </td> <!-- Null Check -->
	    </tr>
	    </tbody>
	</table>
</body>
</html>